/*CONVEX FINANCIAL LANDING PAGE*/

/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*GENERAL*/

body {
	background-image:url(assets/img/back.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Open Sans', Arial,Helvetica,sans-serif;
}

.container {
	max-width:1010px;
}

p {
	color:white;
	font-size: 16px;
	line-height: 22px;
}

h1 {
	color:#9ee8e3;
}

h2 {
	color:#9ee8e3;
	font-size: 32px;
	line-height: 45px;
	margin-bottom: 40px;
}

h3 {
	color:#9ee8e3;
	font-size: 20px;
	line-height: 28px;
	margin-bottom:15px;
}

.section-light p {
	color:#1b2521;
}

.section-light h1 {

}

.section-light h2 {
	color:#1b2521;
}

.section-light h3 {

}

.subtitle {
	color:#73abab;
}

.section-trans p {
	color:#0a1f2d;
	font-size: 24px;
	line-height: 34px;
	max-width: 550px;
	margin: 0 auto;
}

/*LAYOUT */

section {
	padding: 45px 0 75px;
}

.section-dark {
	background:#0a1f2d;
}

.section-light {
	background:#ffffff;
}

.section-trans {

}

/*SECTIONS*/

/*logo*/

#section-logo {
    padding: 35px 0 55px;
}

/*description*/

#section-desc {
    padding: 50px 0;
}

/*team*/

#section-team {
	padding-bottom:45px;
}

#section-team h3 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 24px;
    color: #73abab;
}

.team-wrap {
    overflow: hidden;
    max-width: 720px;
    margin: 0 auto 0px;
}

.team-img {
    border-radius: 50%;
    overflow: hidden;
    width: 122px;
    height: 122px;
    float: left;
    margin-right: 20px;
    margin-bottom:30px;
}

.team-img img {
	max-width:100%;
}

/*solutions*/

#section-solutions {
	text-align: center;
}

/*contact*/

.form-group {
    margin: 15px 0;
}

.form-control {
    border-radius: 3px;
    border: 1px solid #8095a8;
    padding: 9px 10px;
    font-size: 15px;
    height: auto;
}

#send {
    background: #ed6d76;
    width: 100%;
    color: white;
    font-size: 17px;
    font-weight: bold;
    line-height: 35px;
    border: none;
    border-radius: 5px;
    transition: .3s;
}

#send:hover {
	background:#f5424e;
	transition: .3s;
}

#section-contact form {
    max-width: 410px;
    margin: 30px auto 0px;
}

.alert {
    margin-top: 15px;
    margin-bottom: 15px;
    display: none;
}

.alert-success {
    background: rgb(158, 232, 227) none repeat scroll 0% 0%;
    border: medium none rgb(158, 232, 227);
    color: rgb(10, 31, 45);
}

/*FOOTER*/

footer {
	padding:15px 0;
}

footer .subtitle {
	color:#9ee8e3;
}

/*RESPONSIVE*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.col-md-4.solution-box {
	    text-align: center;
	    max-width: 400px;
	    margin: 0 auto 30px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.section-trans p {
		font-size: 20px;
		line-height: 30px;
	}
	.team-wrap .col-sm-6 {
	    float: none;
	    overflow: hidden;
	    margin: 0 auto;
	    max-width: 300px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.logo img {
	    max-width: 150px;
	}
	#section-logo {
	    padding: 30px 0 45px;
	}
	section {
	    padding: 30px 0 30px;
	}
	h2 {
	    font-size: 24px;
	    line-height: 30px;
	    margin-bottom: 20px;
	}
	footer .subtitle {
		font-size: 14px;
	}
	#section-team h3 {
		font-size:20px;
	}
	p {
		font-size:15px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 360px) {
	.section-trans p {
	    font-size: 18px;
	    line-height: 26px;
	}
	#section-desc {
	    padding: 36px 0;
	}
}

